
@model IEnumerable<StudentPortalCapstone.Models.Assignments>

@{
    ViewBag.Title = "DisplayAssignments";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<br />
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <center> <img src="~/Content/Images/DisplayAssignments.png"></center>

</head>
<body>
    <br />

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roster.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPts)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Roster.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPts)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
