@model IEnumerable<StudentPortalCapstone.Models.ReportCard>

@{
    ViewBag.Title = "FindMyGrade";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<br />


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <center> <img src="~/Content/Images/MyGrades.jpg"></center>

</head>

<br />

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assignments.AssignmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.StudentPts)*@
            <h5><b>Points</b></h5>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments.MaxPts)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HasBeenGraded)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assignments.AssignmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentPts)/@item.Assignments.MaxPts
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasBeenGraded)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.HasBeenGraded)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
